@font-face {
  font-family: GoogleSans;
  src: url("fonts/ProductSans-Regular.ttf");
}

@font-face {
  font-family: Regular;
  src: url("fonts/ProductSans-Regular.ttf");
}

@font-face {
  font-family: SansBold;
  src: url("fonts/ProductSans-Black.ttf");
}

@font-face {
  font-family: SansLight;
  src: url("fonts/ProductSans-Light.ttf");
}

.card .card-conent {
  background-color: black !important;
  color: whitesmoke !important;
}

.dark-mode {
  background-color: rgb(0, 0, 0);
  color: rgb(216, 214, 214);
}

.dark-mode .introText {
  color: white;
}

.dark-mode #projectcard {
  background-color: black;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: GoogleSans;
  min-height: 100vh;
  background-color: rgb(250, 250, 250);
  scroll-behavior: smooth;
}

#logo {
  font-family: Regular;
  letter-spacing: 5px;
  color: #ff1744;
}

#image_logo {
  display: inline-block;
  width: 300 px;
  height: 40 px;
}

nav,
nav .nav-wrapper i,
nav a.sidenav-trigger,
nav a.sidenav-trigger i {
  height: 80px;
  line-height: 80px;
}

nav ul a {
  padding: 0 40px;
  font-size: 1.2em;
}

.introText {
  margin: 0.8em auto;
  font-family: SansBold;
  font-size: 3.6em;
  text-align: center;
  color: rgb(37, 37, 37);
  letter-spacing: 1px;
}

.description {
  text-align: center;
  font-size: 2em;
  font-family: SansLight;
}

.blockquotes {
  margin-top: 4em;
  font-size: 2em;
  font-family: SansLight;
}

.description1 {
  text-align: left;
  font-size: 1.8em;
  font-family: SansLight;
}

.headings {
  margin: 0.8em auto;
  font-family: Regular;
  font-size: 3.6em;
  text-align: center;
  color: rgb(37, 37, 37);
  letter-spacing: 1px;
}

.italics {
  text-align: center;
  font-size: 1.8em;
  font-family: SansLight;
  margin: 10px 40px;
  font-style: italic;
  color: #888;
}

footer {
  top: 100%;
  position: sticky;
  display: block;
}

footer .row ul {
  list-style: none;
  display: inline;
  align-items: center;
}

footer .row ul li {
  margin: 0px 20px;
  display: inline;
}

.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: #f8f8f8;
  width: 0%;
  height: 100%;
}

.load-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}

.buttons {
  text-align: center;
  margin: 1em;
}

#profilePic {
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  -webkit-filter: drop-shadow(5px 5px 5px #494949);
  filter: drop-shadow(5px 5px 5px #969696);
}

.caption {
  text-align: center;
}

.title {
  font-weight: bold;
  margin-top: 2em;
  letter-spacing: 1px;
}
#content {
  padding: 0px 250px;
}

.profileDescription {
  font-family: SansLight;
  text-align: left;
  font-size: 1.8em;
  margin-top: 2em;
}

.blogDescription {
  font-family: Sanslight;
  font-size: 22px;
  margin-top: 1em;
}

.designThinkingDescription {
  font-family: SansLight;
  text-align: justify;
  font-size: 22px;
  margin-top: 1.4em;
}

.row .col {
  padding: 0px !important;
}

.process {
  margin-top: 6em;
  width: 100%;
}

.processHeading {
  text-align: left;
}

#designThinkingImage {
  width: 100%;
  margin: 4em 0em;
}

.connection {
  justify-content: space-evenly;
  display: flex;
  margin-top: 4em;
  margin-bottom: 4em;
}

.btn-large {
  text-transform: initial;
}

#title {
  font-family: SansBold;
}

#introductiontitle {
  text-align: center;
}

@media screen and (max-width: 700px) {
  .buttons {
    margin: 1em 0em !important;
  }

  #content {
    padding: 0px 20px;
  }

  .title {
    font-size: 26px;
  }

  .profileDescription {
    margin-top: 1em;
  }

  .header {
    text-align: center;
  }

  .process {
    margin-top: 4em;
  }

  .connection {
    display: block;
  }
  .btn-large {
    margin-top: 6px;
  }
  .card {
    text-align: left;
  }
}
